@model Atividade1.ViewModels.Cliente.ClienteViewModel

<h1>Sessão Cliente</h1>

<div class="alert-success" >
    @if (@Model.MsgSucess != null)
    {
        <p style="text-align: center;">@Model.MsgSucess</p>
    }
</div>

<div class="alert-danger">
    @if (@Model.MsgFail != null)
    {
        <p style="text-align: center;">@Model.MsgFail</p>
    }
</div>

<table class="table table-striped">
   
     <fieldset>
        <legend>Cadastro de cliente</legend>
        <form method="post" asp-action="SessaoCliente" asp-controller="Interno" > 
            <input type="hidden" name="param" value="cadastrar" />
            
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input type="text" class="form-control" id="Nome" name="Nome" />
            </div>
            
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" class="form-control" id="Email" name="Email" />
            </div>
            
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input type="text" class="form-control" id="CPF" name="CPF" />
            </div>
            
            <div class="form-group">
                <label for="Data">Data Nasciemento:</label>
                <input type="text" class="form-control" id="Data" name="Data" />
            </div>
            
            <div class="form-group">
                <label>Tipo Cliente: </label>
                <select name="tipoCliente" class="form-control">
                    <option value="vazio" >Selecione um Opção</option>
                    <option value="Fisica">Fisica</option>
                    <option value="Juridica">Juridica</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="Endereco">Endereço:</label>
                <input type="text" class="form-control" id="Endereco" name="Endereco" />
            </div>
            
            <div class="form-group">
                <label for="Descricao">Descrição:</label>
                <input type="text" class="form-control" id="Descricao" name="Descricao" />
            </div>
            
            <div class="form-group">
                <label for="Observacao">Observação:</label>
                <input type="text" class="form-control" id="Observacao" name="Observacao" >
            </div>
            
            <div class="form-group">               
                <button type="submit" class="btn btn-primary" >Salvar</button>
            </div>
        </form>
     </fieldset>
     <hr/>
     <fieldset>
     <legend>Pesquisar:</legend>
             <form method="POST" asp-action="SessaoClienteBusca" asp-controller="Interno" > 
                 <input type="hidden" name="param" value="pesquisar" />
                 <div class="row">
                     <div class="col">
                         <div class="form-group">
                             <label for="Nome">Nome:</label>
                             <input type="text" class="form-control" id="Nome" name="Nome" >
                         </div>
                     </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Tipo Cliente: </label>
                            <select class="form-control" name="tipoCliente">
                                <option value="Vazio">Selecione uma opção</option>
                                <option value="Fisica">Fisica</option>
                                <option value="Juridica">Juridica</option>
                            </select>
                        </div>
                    </div>
                 </div>
                 <div class="form-group">               
                     <button type="submit" class="btn btn-primary" >Buscar</button>
                 </div>
             </form>
     </fieldset>
     
     <legend>Clientes</legend>    
     <thead>
     <tr>
         <th>TIpo Cliente</th>
         <th>Nome</th>
         <th>Email</th>
         <th>Data de Nascimento</th>
         <th>CPF</th>
         <th>Data Inserção</th>
         <th>Data Alteração</th>
         <th>Ação 1</th>
         <th>Ação 2</th>
     </tr>
     </thead>
     <tbody>
        @foreach (var c in @Model.Clientes)
        {
            <tr>
                <td>@c.TipoCliente</td>
                <td>@c.Nome</td>
                <td>@c.Email</td>
                <td>@c.DataNascimento</td>
                <td>@c.Cpf</td>
                <td>@c.DataInsercao</td>
                <td>@c.DataUltimaAlteracao</td>
                <td><a asp-controller="Interno" asp-action="EditarCl" asp-route-id="@c.Id" >Editar</a></td>
                <td><a asp-controller="Interno" asp-action="Excluir" asp-route-id="@c.Id">Excluir</a></td>
            </tr>
        }
     </tbody>
        
 </table>
