@model Atividade1.ViewModels.Acesso.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (@TempData["msg-cadastro"] != null)
    {
        <p style="text-align: center; color: #218838">@TempData["msg-cadastro"]</p>
    }
</div>

<div>
    @if (@TempData["msg-editar"] != null)
    {
        <p style="text-align: center; color: #218838">@TempData["msg-editar"]</p>
    }
</div>

<div>
    @if (@Model.Mensagem != null)
    {
        <p style="text-align: center; color: red">@Model.Mensagem</p>
    }
</div>

<div>
    @if (@Model.Erro != null)
    {
        <p style="text-align: center; color: red">@Model.Erro</p>
    }
</div>

<div class="d-flex justify-content-center">
                
    <div id="cardDados" class="card" style="width: 18rem;">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Externo" asp-action="Login" >
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="text" class="form-control" id="Email" name="Email" aria-describedby="emailHelp">

                    <label for="Senha">Senha:</label>
                    <input type="text" class="form-control" id="Senha" name="Senha" aria-describedby="emailHelp">
                </div>
                            
                <button type="submit" id="btn" name="btn" class="btn btn-primary">Logar</button>
            </form>
        </div>
    </div> 
                
</div>